:root {
    --main-color: #404040;
    --button-color: #00b770;
    --button-pressed-color: #00a666;
    --button-active-text-color: #4dc194;
    --orange-background: #ef9f13;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1000px;
    font: 18px/24px 'Arial', sans-serif;
    color: var(--main-color);
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

.btn {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--button-color);
}

.btn:hover {
    background-color: var(--button-pressed-color);
}

.btn:active {
    color: var(--button-active-text-color);
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 0 10px;
    -border: dotted 1px brown;
}

.main-header {
    padding-top: 65px;
    padding-bottom: 150px;
    background-color: var(--orange-background);
    background: url("../img/bg-header-gradient.jpg") no-repeat center;
    background-size: 100%;
}

.header-top {
    margin-bottom: 140px;
}

.main-logo {
    float: left;
    width: 180px;
    margin-right: 120px;
}

.main-menu {
    float: left;
    margin-top: 30px;
    color: #000;
}

.main-menu li {
    display: inline-block;
    margin-right: 50px;
}

.main-menu li:hover {
    text-decoration: underline;
}

.main-menu li:active {
    opacity: 0.3;
}

.main-menu li:last-child {
    margin-right: 0;
}

.main-menu a {
    color: #000;
}

.promo {
    position: relative;
    z-index: 1;
    width: 490px;
}

.promo::after {
    position: absolute;
    content: "";
    top: -10px;
    left: 220px;
    width: 830px;
    height: 430px;
    background: url("../img/bg-header-items.png") no-repeat center;
    background-size: 100%;
    z-index: -1;
}

.promo-title {
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.promo p {
    margin-bottom: 50px;
}

.promo .btn {
    width: 300px;
}

/* .main-header .container {
    position: relative;
    z-index: 1;
} */