/* --- General --- */

:root {
    --main-color: #404040;
    --button-color: #00b770;
    --button-hover-color: #00a666;
    --button-active-text-color: #4dc194;
    --orange-background: #ef9f13;
    --lightgrey-background: #efefef;
    --dark-background: #1f2022;
    --lightgrey-border: #b2b2b2;
    --lightgrey-table-border: #d3d2d2;
    --lightgrey-hover-border: #7f7f7f;
    --footer-menu-links: #ffcc00;
    --footer-menu-links-active: #635418;
    --link-color: #3366cc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    min-width: 1000px;
    font: 18px/24px 'Arial', sans-serif;
    color: var(--main-color);
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    line-height: inherit;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}

h1, h2, h3, .title {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
}

h2, .promo-title, .page-title {
    margin-bottom: 70px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

h3 {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 24px;
}

.btn {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--button-color);
}

.btn:hover {
    background-color: var(--button-hover-color);
}

.btn:active {
    color: var(--button-active-text-color);
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

/* --- Main header --- */

.main-header {
    padding-top: 65px;
    padding-bottom: 150px;
    background-color: var(--orange-background);
    background: url("../img/bg-header-gradient.jpg") no-repeat center 100%;
    background-size: cover;
}

.header-top {
    margin-bottom: 140px;
    overflow: hidden;
}

.main-logo {
    float: left;
    width: 180px;
    margin-right: 120px;
}

.main-menu {
    float: left;
    margin-top: 30px;
    color: #000;
}

.main-menu li {
    display: inline-block;
    margin-right: 50px;
}

.main-menu li:hover {
    text-decoration: underline;
}

.main-menu li:active {
    opacity: 0.3;
}

.main-menu li:last-child {
    margin-right: 0;
}

.main-menu a {
    color: #000;
}

.promo {
    position: relative;
    z-index: 1;
    width: 490px;
}

.promo::after {
    position: absolute;
    content: "";
    top: -10px;
    left: 220px;
    width: 830px;
    height: 430px;
    background: url("../img/bg-header-items.png") no-repeat center;
    background-size: 100%;
    z-index: -1;
}

.promo-title {
    margin-bottom: 25px;
}

.promo p {
    margin-bottom: 50px;
}

.promo .btn {
    width: 300px;
}

/* - Main Header Inner  */

.main-header-inner {
    padding-bottom: 70px;
    background: url("../img/bg-header-inner.jpg") no-repeat center 100%;
    background-size: cover;
}

.main-header-inner .header-top {
    margin-bottom: 95px;
}

.main-header-inner .page-title {
    margin-bottom: 30px;
}

.main-header-inner .breadcrumbs {
    font-size: 0;
}

.main-header-inner .breadcrumbs li {
    position: relative;
    display: inline-block;
    margin-right: 50px;
}

.main-header-inner .breadcrumbs li, .main-header-inner .breadcrumbs a {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.main-header-inner .breadcrumbs a:hover {
    text-decoration: underline;
}

.main-header-inner .breadcrumbs a:active {
    text-decoration: underline;
    opacity: 0.3;
}

.main-header-inner .breadcrumbs li::after {
    position: absolute;
    top: 0;
    right: -50px;
    content: "";
    height: 12px;
    width: 50px;
    background: url("../img/ico-nav-arrow.png") no-repeat center center;
    background-size: 40%;
}

.main-header-inner .breadcrumbs li:last-of-type::after {
    content: none;
}

/* --- Program Info (Inner) --- */

.program-info {
    padding-top: 85px;
    padding-bottom: 75px;
    font-size: 16px;
}

/* ------------------ */

.program-info-item {
    position: relative;
    padding-left: 340px;
    -border: dotted 1px red;
}

.program-info-item .padded-title {
    position: absolute;
    left: 0;
}

/* ------------------ */

.program-info h2, h3 {
    margin-bottom: 1em;
    font-size: 24px;
    line-height: 48px;
}

.program-info p {
    margin-bottom: 1.5em;
}

.program-info ul {
    margin-bottom: 3em;
    padding-left: 35px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.program-info li {
    position: relative;
    margin-bottom: 1.33em;
}

.program-info li::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -35px;
    width: 25px;
    height: 2px;
    background-color: var(--button-color);
}

.program-info a {
    display: inline;
    color: var(--link-color);
    text-decoration: underline;
}

.program-info hr {
    margin: 60px 0;
    border: none;
    color: var(--lightgrey-table-border);
    background-color: var(--lightgrey-table-border);
    height: 1px;
}

.program-info blockquote {
    margin-bottom: 1.5em;
    padding-left: 35px;
    font-style: italic;
    border-left: var(--button-color) 2px solid;
}

.program-info table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    line-height: 24px;
}

.program-info table, .program-info tr, .program-info td, .program-info th {
    border: 1px solid var(--lightgrey-table-border);
}

.program-info td, .program-info th {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.program-info td {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.program-info table thead {
    background-color: var(--lightgrey-background);
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}

/* --- Features --- */

.features {
    padding-top: 90px;
    padding-bottom: 70px;
    background-color: var(--lightgrey-background);
}

.features::after {
    display: table;
    content: "";
    clear: both;
}

.features-item {
    position: relative;
    float: left;
    width: 300px;
    margin-right: 40px;
}

.features-item:nth-child(3) {
    margin-right: 0;
}

.features-img {
    position: absolute;
    top: -125px;
    left: 0;
    content: "";
    width: 110px;
    height: 118px;
    background-image: url("../img/sprite.png");
}

.features-img-shedule {
    background-position: 0;
}

.features-img-practice {
    background-position: -110px;
}

.features-img-job {
    background-position: -220px;
}

/* --- Feedback --- */

.feedback {
    padding-top: 90px;
    padding-bottom: 70px;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.feedback-item * {
    font-size: 16px;
    line-height: 24px;
}

.feedback-item::after {
    display: table;
    content: "";
    clear: both;
}

.feedback-author {
    position: relative;
    float: left;
    width: 300px;
    padding-left: 170px;
}

.feedback-content {
    position: relative;
    float: right;
    width: 640px;
    padding-right: 35px;
}

.feedback-content::before, .feedback-content::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    background-size: cover;
}

.feedback-content::before {
    left: -37px;
    top: -18px;
    background: url("../img/quotes-open.png") no-repeat center center;
}

.feedback-content::after {
    right: -30px;
    bottom: -15px;
    background: url("../img/quotes-close.png") no-repeat center center;
}

.feedback-author img {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

/* --- Contacts --- */

.contacts {
    background-color: var(--lightgrey-background);
    overflow: hidden;
}

.feedback .container {
    position: relative;
}

.feedback .show-all {
    position: absolute;
    top: 10px;
    right: 0;
    width: 175px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: #000;
}

.show-all:hover {
    color: var(--button-hover-color);
}

.show-all:active {
    color: var(--button-hover-color);
    opacity: 0.3;
}

.show-all img {
    float: right;
    margin-top: 9px;
}

.contacts {
    padding-top: 90px;
    padding-bottom: 80px;
    background-color: var(--lightgrey-background);
}

.contacts-form {
    float: left;
}

.contacts-form .form-title {
    width: 115px;
    padding-top: 15px;
    padding-right: 30px;
    font-weight: 700;
    text-align: right;
    vertical-align: top;
    color: #000;
}

.contacts-form .form-title label {
    color: inherit;
    font-weight: inherit;
}

.contacts-form .form-field {
    width: 480px;
    padding-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 15px 20px;
    color: #000;
    border: 2px solid var(--lightgrey-border);
    border-radius: 2px;
    outline: none;
}

input:hover, textarea:hover {
    border-color: var(--lightgrey-hover-border);
}

input:focus, textarea:focus {
    border-color: var(--button-hover-color);
}

.contacts-form .form-field input[type="radio"] {
    width: auto;
}

.contacts-form .radio-field {
    padding-top: 15px;
    font-size: 16px;
}

.contacts-form .radio-field label {
    margin-right: 10px;
    font-size: 16px;
    color: #000;
}

.contacts-form .form-field textarea {
    resize: none;
}

.contacts-form button {
    width: 100%;
}

.contacts-info {
    float: right;
    width: 300px;
}

.contacts-info p {
    margin-bottom: 30px;
}

.contacts-info .attention {
    margin-top: 130px;
    margin-bottom: 0;
}

.contacts-info .attention span {
    font-weight: 700;
}

/* --- Main footer --- */

.main-footer {
    padding-top: 90px;
    padding-bottom: 65px;
    background-color: var(--dark-background);
    overflow: hidden;
}

.main-footer * {
    color: #fff;
}

.footer-top {
    margin-bottom: 60px;
    overflow: hidden;
}

.footer-address, .copyright {
    float: left;
    width: 300px;
    margin-right: 40px;
}

.footer-menu {
    float: left;
    margin-right: 40px;
}

.footer-address {
    width: 300px;
}

.footer-logo {
    width: 180px;
    margin-bottom: 80px;
}

.footer-menu {
    margin-top: 30px;
}

.footer-menu:last-of-type {
    float: right;
}

.footer-menu li {
    margin-bottom: 25px;
}

.footer-menu li:first-child {
    margin-bottom: 35px;
}

.footer-menu a {
    color: var(--footer-menu-links);
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-menu a:active {
    color: var(--footer-menu-links-active);
}

.discounts {
    float: left;
}

.social {
    float: right;
    font-size: 0;
}

.social-logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.social .vk-logo {
    background-image: url("../img/social-vk.png");
}

.social .vk-logo:hover, .social .vk-logo:active {
    background-image: url("../img/social-vk-active.png");
}

.social .fb-logo {
    background-image: url("../img/social-fb.png");
}

.social .fb-logo:hover, .social .fb-logo:active {
    background-image: url("../img/social-fb-active.png");
}

.social .twi-logo {
    background-image: url("../img/social-twi.png");
}

.social .twi-logo:hover, .social .twi-logo:active {
    background-image: url("../img/social-twi-active.png");
}